.ui-content .section:first-child {
    margin-top: 0;
}
#header-panel .ui-input-search {
    margin: 0.5em;
}
.ui-header h2.ui-title {
    margin: 0 0.5em;
    text-align: left;
}
#version {
    float: right;
    margin: 0.5em;
    font-size: 0.75em;
}