.ui-content .section:first-child {
    margin-top: 0;
}
#search-panel .ui-input-search {
    margin: 0.5em;
}
.ui-header h2.ui-title {
    margin: 0 0.5em;
    text-align: left;
}
/*#page {
    background-color: rgb(237,236,235);
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid rgb(123,123,123);
    max-width: 225px;
}
#page-top-bevel {
    border-top: 1px solid rgb(237,236,235);
    border-left: 1px solid rgb(237,236,235);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#page-bottom-bevel {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid rgb(106,104,100);
    border-right: 1px solid rgb(106,104,100);
    min-height: 100px;    
}
#indicator {
    vertical-align: baseline;
    position: absolute;
    right: 8px;
    top: 10px;  
}
#search-panel {
    position: relative;
}
#search-icon {
    vertical-align: bottom;
    margin-right: 14px;
}
#search-input {
    width: 165px;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
    margin: 0;
}
h2 {
    text-decoration: underline;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 220px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 14px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
a:hover {
    background-color: rgb(98,140,178);
    color: rgb(237,236,235);
    cursor: default;
}
a.disabled-item {
    color: rgb(169,168,165);
    text-shadow: -0.5px 0 gray;
}
hr {
    border-top: 1px solid rgb(106,104,100);
    border-bottom: 1px solid white;
    position: absolute;
    height: 2px;
    top: -4px;
    left: 0;
    right: 1px;
}
.hr-container {
    position: relative;
    height: 8px;
    width: 100%;
    background-color: rgb(212,208,200);
}*/