.ui-content .section:first-child {
    margin-top: 0;
}
#header-panel .ui-input-search {
    margin: 0.5em;
}
.ui-header h2.ui-title {
    margin: 0 0.5em;
    text-align: left;
}
#version {
    float: right;
    margin: 0.5em;
    font-size: 0.60em;
}
@media only screen and (min-width: 600px){
            html { 
                background-color: white;
            }
            .ui-mobile-viewport {
                width: 600px !important;
                margin: 0 auto !important;
                position: relative !important;
                overflow-y: scroll;
            }
            .ui-header-fixed,
            .ui-footer-fixed {
                width: 600px !important;
                margin: 0 auto !important;
            }
        }